version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run:
          command: sudo pip install cookiecutter
      - run:
          command: ./test.sh
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
