version: 2.1

machine:
  services:
    - docker

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          command: sudo pip install cookiecutter
      - run:
          command: ./test.sh
          name: Test
          environment:
              CIRCLE_CI_ENV: true

workflows:
  main:
    jobs:
      - build-and-test
