alembic==1.3.2
Authlib==0.14.3
fastapi==0.54.2
httpx==0.7.8
ipython==7.11.1
itsdangerous==1.1.0
Jinja2==2.10.3
psycopg2==2.8.5
pytest==5.3.4
requests==2.22.0
SQLAlchemy==1.3.12
starlette==0.13.4
uvicorn==0.11.5
passlib==1.7.2
bcrypt==3.1.7
sqlalchemy-utils==0.36.5